.center {
  text-align: center;
}

body {
  line-height: 1.4;
}

a {
  color: #b83000;
	text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 a, h2 a {
  color: black;
}
header, footer, section, article {
  display: block;
}
header {
  line-height: 1;
}
section#post_list {
  line-height: 1;
} 
section#post_list ul {
  list-style: none; 
  margin: 0 !important;
}
section#post_list li {
  padding: 0.25em 1em 0.25em 1em;
  font-size: 75%;
  border-bottom: 1px black dotted;
}
section#post_list a {
	color: gray;
}
section#content > div {
	padding-left: 1em;
	border-left: 3px black solid;
}
div#header {
	height: 2em;
	border-bottom: 3px black solid;
	margin-bottom: 1em;
	margin-top: 1em;
}
div#related {
	margin-top: 1em;
}
header h1, header h2 {
  display: inline;
}
.post .more {
  margin-top: 0.5em;
  margin-right: 0em;
  margin-bottom: 2em;
  font-style: italic;
  text-align: right;
}
.date {
  font-style: italic;
  float: right;
  margin: 0.4em 0 0.4em 1em;
}
