body {
  font-family: 'Baskerville', Georgia, Times, serif;
	font-size: 140%;
	text-align: justify;
}
.date {
  font-style: italic;
  float: right;
  line-height: 200%;
  margin-left: 1em;
}
a:focus {
  outline: 1px dotted invert
}
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}
ol {
  list-style: decimal
}
ul {
  list-style: square
}
li {
  margin-left: 30px;
}
header h1 {
	font-size: 1.5em;
	font-weight: 600;
}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset {
  margin-bottom: 20px;
}
