body {
  font-family: 'Baskerville', Georgia, Times, serif;
  font-size: 140%;
  text-align: justify;
}
a:focus {
  outline: 1px dotted invert
}
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}
ol {
  list-style: decimal;
}
ul {
  list-style: circle;
  margin-left: 1em;
}
li {
}
header h1 {
  font-size: 1.5em;
  font-weight: 600;
}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset {
  margin-bottom: 1em;
}
