---
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link href="http://feeds.feedburner.com/RkjTechBlog" rel="alternate" title="RSS" type="application/rss+xml" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/text.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>

  <body>
    <div class="container_12">
      <div id="header" class="grid_12 center">
        <h2><a href="/">rkj's blog</a></h2>
      </div>
      <section id="post_list" class="grid_3">
        <ul>
          {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
      <section id="content" class="grid_9">
        <div>{{ content }}</div>
      </section>
    </div>
  </body>
</html>