---
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="fVIAKBW1_yPL608vUkdtBtnDkddvdIllAhcOlthq9Ww" />
    <title>{{ page.title }}</title>
    <link href="http://feeds.feedburner.com/RkjTechBlog" rel="alternate" title="RSS" type="application/rss+xml" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/text.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>

  <body>
    <div class="container_12">
      <div id="header" class="grid_12 center">
        <h2><a href="/">rkj's blog</a></h2>
      </div>
      <section id="post_list" class="grid_3">
        <ul>
          {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
      <section id="content" class="grid_9">
        <div>{{ content }}</div>
      </section>
      <div class="grid_12 center">
        <a href="http://feedvalidator.org/check.cgi?url=http%3A//feeds.feedburner.com/RkjTechBlog"><img src="/css/valid-atom.png" alt="[Valid Atom 1.0]" title="Validate my Atom 1.0 feed" /></a>
      </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/rkjblog/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
    </script>
  </body>
</html>