---
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="fVIAKBW1_yPL608vUkdtBtnDkddvdIllAhcOlthq9Ww" />
    <meta name="google-site-verification" content="_uHYZsEgDeD5-ejVnOKPwW74Bo_AAvoD6PFBUpnLJs0" />
    <title>{{ page.title }}</title>
    <link href="http://feeds.feedburner.com/RkjTechBlog" rel="alternate" title="RSS" type="application/rss+xml" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/text.css?v=2011-07-05" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/screen.css?v=2011-07-05" type="text/css" media="screen, projection" />
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script>
      // code from http://ajaxify.com/run/favicon/favicon.js
      var favicon = {
        defaultPause: 2000,
        change: function(iconURL, optionalDocTitle) {
          clearTimeout(this.loopTimer);
          if (optionalDocTitle) {
            document.title = optionalDocTitle;
          }
          this.addLink(iconURL, true);
        },
        animate: function(iconSequence, optionalDelay) {
          this.preloadIcons(iconSequence);
          this.iconSequence = iconSequence;
          this.sequencePause = (optionalDelay) ?  optionalDelay : this.defaultPause;
          favicon.index = 0;
          favicon.change(iconSequence[0]);
          this.loopTimer = setInterval(function() {
            favicon.index = (favicon.index+1) % favicon.iconSequence.length;
            favicon.addLink(favicon.iconSequence[favicon.index], false);
          }, favicon.sequencePause);
        },
        loopTimer: null,
        preloadIcons: function(iconSequence) {
          var dummyImageForPreloading = document.createElement("img");
          for (var i=0; i<iconSequence.length; i++) {
            dummyImageForPreloading.src = iconSequence[i];
          }
        },
        addLink: function(iconURL) {
          var link = document.createElement("link");
          link.type = "image/x-icon";
          link.rel = "shortcut icon";
          link.href = iconURL;
          this.removeLinkIfExists();
          this.docHead.appendChild(link);
        },
        removeLinkIfExists: function() {
          var links = this.docHead.getElementsByTagName("link");
          for (var i=0; i<links.length; i++) {
            var link = links[i];
            if (link.type=="image/x-icon" && link.rel=="shortcut icon") {
              this.docHead.removeChild(link);
              return; // Assuming only one match at most.
            }
          }
        },
        docHead:document.getElementsByTagName("head")[0]
      };
      favicon.animate(['/img/r.png', '/img/k.png', '/img/j.png']);
      $(document).ready(function(){
        $('.fade-element').fadeTo(0, 0.3).
        mouseenter(function() { $(this).fadeTo(100,1); }).
        mouseleave(function() { $(this).fadeTo(150, 0.3); });
      });
    </script>
  </head>

  <body>
    <div class="container_12">
      <div id="header" class="grid_12 center fade-element">
        <h2><a href="/">rkj's blog</a></h2>
      </div>
      <section id="post_list" class="grid_3 fade-element">
        <ul>
          {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        <iframe src="http://stackoverflow.com/users/flair/37086.html?theme=default" marginwidth="0" marginheight="0" frameborder="0"  scrolling="no" width="210" height="60"></iframe>
        <script type="text/javascript" src="https://www.google.com/reader/ui/publisher-en.js"></script>
        <script type="text/javascript" src="https://www.google.com/reader/public/javascript/user/12731615271350128169/state/com.google/broadcast?n=5&callback=GRC_p(%7Bc%3A%22gray%22%2Ct%3A%22rkj%5C's%20shared%20items%22%2Cs%3A%22true%22%2Cn%3A%22true%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>
      </section>
      <section id="content" class="grid_9">
        <div>{{ content }}</div>
      </section>
      <div class="grid_12 center">
        <a href="http://feedvalidator.org/check.cgi?url=http%3A//feeds.feedburner.com/RkjTechBlog"><img src="/css/valid-atom.png" alt="[Valid Atom 1.0]" title="Validate my Atom 1.0 feed" /></a>
      </div>
    </div>
    <a href="http://github.com/rkj"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>
    <script type="text/javascript">
    //<![CDATA[
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/rkjblog/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
    </script>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-13179252-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  </body>
</html>
